<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="MySqlConnection"
		  connectionString="Server=bgfmcgq9me36odk4wyrc-mysql.services.clever-cloud.com;Port=3306;Database=bgfmcgq9me36odk4wyrc;Uid=uw2a3dljhvduxsmi;Pwd=hPZzGMjuKuMzOhGxNiWp;"
		  providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
